<aside>
  <img
    src="/assets/images/logo-white.svg"
    alt="مركز الأطراف و العلاج الطبيعي"
  />

  <button>
    <img alt="الصفحة الرئيسية" />
    <p class="title-md">الصفحة الرئيسية</p>
  </button>

  <ul>
    @for (cat of menu(); track $index) {

    <li>
      <p class="title-sm">
        {{ cat.category }}
      </p>
      <span class="menu-line"></span>
    </li>
    @for (item of cat.items; track $index) {
    <li>
      <button>
        <img alt="الصفحة الرئيسية" src="{{ item.icon }}" />
        <p
          class="title-md"
          [routerLink]="[item.route]"
          routerLinkActive="active"
        >
          {{ item.label }}
        </p>
      </button>
    </li>
    } }
  </ul>
</aside>
