:host {
  grid-area: aside;
  background-color: var(--primary-color);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 24px;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color-hover) var(--primary-color);
}


button {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 16px;

  width: 168px;
  height: 28px;
  padding: 22px 8px;

  background: none;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button img {
  object-fit: contain;
  display: block;
  height: 24px;
  width: 24px;
}

button .title-md {
  color: var(--white-color);
  line-height: 1;
  margin: 0;
}

.title-sm {
  color: var(--white-color);
  line-height: 1;
  margin: 0;
  text-align: center;
  margin-top: 32px;
}

.menu-line {
  display: block;
  width: 100%;
  height: 0.8px;
  background-color: var(--white-color);
  margin: 16px auto;
  border-radius: 2px;
}

button:hover {
  background-color: var(--primary-color-hover);
}

button.active {
  background-color: var(--card-active-color);
}

button.active .title-md {
  color: var(--primary-color);
}

/* button img {
  content: url("/assets/icons/home-white.svg");
} */

/* button.active img {
  content: url("/assets/icons/home-blue.svg");
} */

:host>button {
  margin: 40px 0;
}

ul,
ul li {
  list-style: none;
}


:host::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

:host::-webkit-scrollbar-track {
  background: var(--primary-color);
  border-radius: 16px;
}

:host::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-hover);
  border-radius: 16px;
  border: 2px solid var(--primary-color);
  opacity: 0.3;
  transition: background-color 0.3s, opacity 0.3s;
}

:host::-webkit-scrollbar-thumb:hover,
:host::-webkit-scrollbar-thumb:active {
  background-color: var(--white-color);
  opacity: 1;
}

:host::-webkit-scrollbar-corner {
  background: var(--primary-color);
}

/* عند المرور على العنصر يظهر السكروول بوضوح */
:host:hover::-webkit-scrollbar-thumb {
  opacity: 0.7;
}