
@if (patients()) {

<table>
  <thead class="sticky">
    <tr>
      <th>رقم المريض</th>
      <th class="th-expand">اسم المريض</th>
      <th class="buttons"></th>
    </tr>
  </thead>

  <tbody>
    @for (patient of patients(); track $index) {
    <tr>
      <td class="body-md">{{patient.phone}}</td>
      <td class="body-md">{{patient.fullname}}</td>
      <td class="row gap-16">
        <button class="btn primary icon">
          <p class="label-md">اصدار كرت خدمة</p>
        </button>
        <button class="btn primary icon" [routerLink]="['edit/',patient.patientId]">
          <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
        </button>
        <button class="btn danger icon" [routerLink]="['edit',patient.patientId]">
          <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
        </button>
      </td>
    </tr>
    }
  
  </tbody>
</table>
}
@else {

  <p> No Patients Data</p>
}