:host {
  display: grid;
  grid-template-columns: 17% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "aside header"
    "aside main";
  height: 100vh;
  overflow: hidden;
}

aside {
  grid-area: aside;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow: hidden;
}