aside {
  grid-area: aside;
  background-color: var(--primary-color);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 24px;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color-hover) var(--primary-color);
}


aside button {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 16px;

  width: 168px;
  height: 28px;
  padding: 22px 8px;

  background: none;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

aside button img {
  object-fit: contain;
  display: block;
  height: 24px;
  width: 24px;
}

aside button .title-md {
  color: var(--white-color);
  line-height: 1;
  margin: 0;
}

aside .title-sm {
  color: var(--white-color);
  line-height: 1;
  margin: 0;
  text-align: center;
  margin-top: 32px;
}

.menu-line {
  display: block;
  width: 100%;
  height: 0.8px;
  background-color: var(--white-color);
  margin: 16px auto;
  border-radius: 2px;
}

aside button:hover {
  background-color: var(--primary-color-hover);
}

aside button.active {
  background-color: var(--card-active-color);
}

aside button.active .title-md {
  color: var(--primary-color);
}

aside button img {
  content: url(../icons/home-white.svg);
}

aside button.active img {
  content: url("../assets/icons/home-blue.svg");
}

aside>button {
  margin: 40px 0;
}

aside ul,
aside ul li {
  list-style: none;
}


aside::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

aside::-webkit-scrollbar-track {
  background: var(--primary-color);
  border-radius: 16px;
}

aside::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-hover);
  border-radius: 16px;
  border: 2px solid var(--primary-color);
  opacity: 0.3;
  transition: background-color 0.3s, opacity 0.3s;
}

aside::-webkit-scrollbar-thumb:hover,
aside::-webkit-scrollbar-thumb:active {
  background-color: var(--white-color);
  opacity: 1;
}

aside::-webkit-scrollbar-corner {
  background: var(--primary-color);
}

/* عند المرور على العنصر يظهر السكروول بوضوح */
aside:hover::-webkit-scrollbar-thumb {
  opacity: 0.7;
}