.box {
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  max-height: 500px;
  overflow-y: auto;
}

.box.max-hight-712 {
  max-height: 712px;
}

.center-content {
  align-self: center;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  z-index: 1;
}

.login-box {
  width: 720px;
  height: 556px;
  align-items: center;
  padding: 48px 40px 0 40px;
}