.btn {
  padding: 12px 32px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
}


.btn.primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.primary:hover {
  background-color: var(--primary-color-hover);
}

.btn.secondary {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color, #003366);
}

.btn.secondary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.danger {
  background-color: var(--red-color);
  color: var(--white-color);
}

.btn.danger:hover {
  background-color: #c0392b;
}

.btn.icon {
  padding: 8px;
  border-radius: 8px;
}

.btn.icon img {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
}