header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--backgroun-color);
  gap: 20px;

  width: auto;
  height: 80px;

  padding: 16px;
}

.search-box {
  position: relative;
  flex: 1;
  margin: auto 0;
}

.search-box input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.search-box .search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info .user-icon {
  height: 32px;
  width: 32px;
}