 body {
   display: grid;
   grid-template-columns: 382px 1fr;
   grid-template-rows: auto 1fr;
   grid-template-areas:
     "aside header"
     "aside main";
   height: 100vh;
 }


 main {
   grid-area: main;
   background-color: #A8D8C9;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2rem;
   font-weight: bold;
 }