 table {
   width: 100%;
   border-collapse: collapse;
   border-radius: 16px;
   overflow: hidden;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
   background-color: var(--white-color);
 }


 thead {
   background-color: var(--background-color);
   box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
 }

 th {
   text-align: start;
 }

 th.th-expand {
   width: 90%;
 }

 th,
 td {
   padding: 8px 16px;
   border-right: 1px solid var(--gray-color);
   border-bottom: 1px solid var(--gray-color);
 }

 tr:last-child td {
   border-bottom: none;
 }

 th:last-child,
 td:last-child,
 th:first-child,
 td:first-child {
   border-right: none;
 }

 table tbody tr {
   border-bottom: 1px solid var(--gray-color);
   position: relative;
 }

 th.buttons {
   width: 1%;
   white-space: nowrap;
   text-align: center;
   border-bottom: none;
 }