<div class="backdrop" (click)="backdropClick()"></div>

<div class="box dialog">
  <div class="space-between sticky">
    <h2 class="title-lg">
      {{ mode() ? "تعديل  بيانات المريض" : " اصدار تذكرة خدمة" }}
    </h2>
    <img
      src="assets/icons/close-icon.svg"
      alt="إغلاق"
      (click)="onClose()"
      class="close-icon"
    />
  </div>

  <div>
    <p class="title-md">بيانات المريض</p>
    <span class="home-line"></span>
  </div>

  <form
    class="padding-LR-24 column gap-16"
    [formGroup]="form"
    (ngSubmit)="onSave()"
  >
    <div class="row flex-center">
      <label class="label-lg">رقم المريض</label>
      <input
        class="label-lg"
        type="text"
        formControlName="autoRegistrationNumber"
      />
    </div>

    <div class="row flex-center">
      <label class="label-lg">الاسم</label>
      <input class="label-lg" type="text" formControlName="fullname" />
      <div *ngIf="isInvalid('fullname')" class="error-message">الاسم مطلوب</div>
    </div>

    <div class="row flex-center">
      <label class="label-lg">الجنس</label>
      <select class="label-lg" formControlName="gender">
        <option [ngValue]="true">ذكر</option>
        <option [ngValue]="false">أنثى</option>
      </select>

      <label class="label-lg">تاريخ الميلاد</label>
      <input class="label-lg" type="date" formControlName="birthdate" />
    </div>

    <div class="row flex-center">
      <label class="label-lg">رقم الهاتف</label>
      <input class="label-lg" type="number" formControlName="phone" />
      <div *ngIf="isInvalid('phone')" class="error-message">رقم الهاتف مطلوب</div>
    </div>
    <div class="row flex-center">
      <label class="label-lg">العنوان</label>
      <input class="label-lg" type="text" formControlName="address" />
    </div>

    <div class="row flex-center">
      <label class="label-lg">رقم الهوية</label>
      <input class="label-lg" type="text" formControlName="nationalNo" />
    </div>

    @if (!mode()) {
    <div class="width-100">
      <p class="title-md">بيانات الخدمة</p>

      <span class="home-line"></span>
    </div>
    <div class="row flex-center">
      <label class="label-lg"> نوع الخدمة </label>
      <select class="label-lg">
        <option value=""></option>
        <option value="علاج طبيعي">علاج طبيعي</option>
        <option value="أطراف صناعية">أطراف صناعية</option>
      </select>
    </div>

    }

    <button class="btn primary label-md" type="submit">
      {{ mode() ? "حفظ" : "طباعة" }}
    </button>
  </form>
</div>
