input[type="date"] {
  position: relative;
  padding-left: 36px; 
  background-image: url('/assets/icons/calendar-icon.svg'); 
  background-repeat: no-repeat;
  background-position: left 12px center;
  background-size: 20px 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;        
  position: absolute;   
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


[formgroupname].ng-invalid.ng-touched.ng-dirty label,
.control:has(.ng-invalid.ng-touched.ng-dirty) label {
  color: #da300e;
}

[formgroupname].ng-invalid.ng-touched.ng-dirty input,
input.ng-invalid.ng-touched.ng-dirty {
  background-color: #fbdcd6;
  border-color: #f84e2c;
}
